
<%- include(
  '../layouts/index', {
    title: '注册页',
  })
%>

<style>
  .login-page {
    height: 100%
  }

  .login-page .section-con {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 460px;
    transform: translate(-50%, -50%)
  }
</style>

<section id="login-page" class="login-page p-relative" v-cloak>
  <div class="section-con">
    <div class="t-ct ft-22 f-bold">
      <div class="mt-50 t-ct ft-22 f-bold">
        来吧，老弟！
      </div>
    </div>
    <el-form
      class="mt-20"
      ref="login"
      :model="form"
      :rules="rules">
      <el-form-item
        prop="name">
        <el-input
          v-model.trim="form.name"
          placeholder="请输入用户名"
          @keyup.enter.native="submit"
          clearable>
        </el-input>
      </el-form-item>
      <el-form-item
        prop="email">
        <el-input
          v-model.trim="form.email"
          placeholder="请输入邮箱"
          @keyup.enter.native="submit"
          clearable>
        </el-input>
      </el-form-item>
      <el-form-item
        prop="password">
        <el-input
          v-model="form.password"
          show-password
          clearable
          placeholder="请输入密码"
          type="password"
          maxlength="20"
          @blur="checkPsd"
          @keyup.enter.native="submit">
        </el-input>
      </el-form-item>
      <el-form-item
        prop="confirmPassword">
        <el-input
          v-model="form.confirmPassword"
          show-password
          clearable
          placeholder="请确认密码"
          type="password"
          maxlength="20"
          @blur="checkPsd"
          @keyup.enter.native="submit">
        </el-input>
      </el-form-item>
    </el-form>
    <div class="t-ct">
      <el-button
        type="primary"
        style="width: 100%"
        @click.stop="submit">
        注册
      </el-button>
    </div>
    <el-row class="mt-10 c-132">
      <el-col
        :span="12"
        class="">
        <a href="/home">返回首页</a>
      </el-col>
      <el-col
        :span="12"
        class="t-rt">
        <span>
          <a href="">重置密码</a>
        </span>
        <span class="c-999">|</span>
        <span>
          <a href="/auth/login">去登录</a>
        </span>
      </el-col>
    </el-row>
  </div>
</section>

<script src="/js/regex.js"></script>
<script src="/js/rules/auth.js"></script>
<script>
  var invite = new Vue({
			  delimiters: ['{{', '}}'],
				el: '#login-page',
				data: function() {
					return {
            form: {
              name: '',
              email: '',
              password: '',
              confirmPassword: ''
            },
            rules: authRule(2)
					}
				},
				mounted() {},
        methods: {
          checkPsd() {
            const { password, confirmPassword} = this.form;
            if (password && confirmPassword && (password !== confirmPassword)) {
              this.$message({
                type: 'warning',
                message: '两次密码输入不一致',
                offset: 360
              })
              this.form.confirmPassword = '';
            }
          },
          submit() {
            this.$refs.login.validate((valid) => {
              if (valid) {
                apiRegister(this.form).then(res => {
                  console.log(res);
                }).catch(err => {
                  console.log(err);
                });
              } else {
                // error
                console.log(`出错了`);
              }
            });
          }
        }
      });
</script>
<!-- %- include('layout/footer', {isComment: false}) % -->