<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="这里是描述，todo动态可配置，node + koa2 + mysql + vue及各种koa中间件">
  <meta name="keywords" content="这里是关键词，todo动态可配置">
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
  <title><%= title %></title>
  <!-- 引入css静态文件 -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/element-2.13.2.css">
  <link rel="stylesheet" href="/css/common.css">
</head>
<body>
  
  <!-- 引入js静态文件 -->
  <script src="/js/vue.js"></script>
  <script src="/js/element-2.13.2.js"></script>
</body>
</html>